.first{
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    line-height: 75px;
}

.second{
    text-align: center;
    font-size: 1.75rem;
    line-height: 75px;
}

.third{
    text-align: end;
    font-size: 1rem;
    line-height: 75px;
}

.txt{
    font-size: 1rem;
}


a:link{
    color:#050df1;   
 }
 
 a:visited{
   color:#8801f0;
 }
 
  
 a:active{
   color:#8801f0;    
 }

 .img{
  display: block;
    margin: 0 auto;
    height: 150px;
    width: 300px;
 }

 .txt2:hover{
    color: red;
    transition: 0.5s;
 }
    
